In [ ]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = [18, 10] 

#import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df_timedata = pd.read_csv(r'/content/drive/MyDrive/Data Science Projects/OSA Project PhD/Datasets/BP Time series alignment /Grenoble_raw.csv')
UNID = df_timedata['UNID'].unique()

In [ ]:
len(UNID)

283

In [ ]:
Array =[]
for unid in UNID:
  mdict ={}
  mdict["unid"]=unid
  df= pd.read_csv(r'/content/drive/MyDrive/Data Science Projects/OSA Project PhD/Datasets/BP Time series alignment /outputs_reults/'+unid+'.csv')
  for index,row in df.iterrows():
    sum = abs(row['SBP']-row['DBP'])+abs(row['DBP']-row['HR'])+abs(row['HR']-row['SBP'])
    #print(index, row['SBP'], row['DBP'],row['HR'], sum)
    mdict[index] = sum
    
  Array.append(mdict)

new_df = pd.DataFrame(Array)
new_df.head()

,unid,0,1,2,3,4,5,6,7,8,...,14,15,16,17,18,19,20,21,22,23
0,1907f4a6-b068-428d-a88e-38ca9df121f6,147.500000,100.000000,106.5,93.0,79.333333,60.0,73.000000,107.0,102.500000,...,109.0,95.0,103.000000,93.0,127.0,72.0,99.500000,139.0,110.0,101.5
1,c27adf3f-9de5-4cb8-9861-6840c75e9f9b,139.000000,139.000000,138.0,107.5,65.500000,60.5,58.666667,58.4,66.666667,...,84.0,70.0,85.000000,103.0,113.0,88.0,152.000000,104.0,152.4,137.0
2,10f28441-712e-4ba8-ae0b-32cbcec37922,136.666667,127.500000,139.5,119.0,124.000000,115.0,123.000000,119.5,89.500000,...,80.0,102.5,122.500000,158.0,131.5,110.0,134.666667,128.0,108.5,121.0
3,11ec5e49-f199-4e48-b2a7-db3058167e07,120.000000,130.000000,148.0,131.0,77.333333,73.5,59.000000,95.0,63.000000,...,97.5,110.0,71.333333,92.0,128.0,114.0,92.500000,66.5,121.0,95.5
4,bbf71419-6478-40a9-879f-7478eb51a921,158.000000,116.666667,108.5,91.0,94.000000,84.0,107.500000,146.5,130.666667,...,65.0,92.0,106.000000,115.0,130.0,122.5,112.000000,126.5,146.5,145.5

In [ ]:
new_df.to_csv('/content/drive/MyDrive/Data Science Projects/OSA Project PhD/Datasets/BP Time series alignment /merge_all_bp.csv')

In [ ]:
unique = new_df["unid"].unique()
len(unique)

283